<template>
	<div>
		<b-jumbotron class="box">
<h1 id="beach-assistant">Beach Assistant</h1>
<p>Aplication for beach volleyball trainers, written for mobile phones with android software.</p>
<div id="installation">
<h2 id="installation">Installation:</h2>
</div>
<div id="google-play">
<h2 id="google-play">- Google play</h2>
</div>
<p>Application is avaliable on <a href="https://play.google.com/store/apps/details?id=com.matej.sepka.aplication">google play</a>. It can be simply downloaded from there (on an android phone with at least Android 6.0).</p>
<div id="android-studio">
<h2 id="android-studio">- Android Studio</h2>
</div>
<p>You can download the code from (https://github.com/matejsepka/Maturitni_prace) Import it in Android Studio Using USB conector compile it in to your phone from there</p>
<div id="about">
<h2 id="about">About:</h2>
</div>
<ul>
<li><p>Aplication for volleyball trainers</p></li>
<li><p>Is devided into two sections</p>
<ul>
<li><p>Groups you can create your training groups here set days of trainings add players to the group maintain their attendance</p></li>
<li><p>Game Situations you can create and save all your training ideas in here name, difficulty, targeted activity to clerify your thought, you can create a simple animations of each game situation</p></li>
</ul></li>
</ul>
<div id="further-development">
<h2 id="further-development">Further development:</h2>
</div>
<ul>
<li><p>Whole project is written in java, uses the SqlLite database and xml files for creating layouts</p>
<ul>
<li><p>For adding more information to sections such as Group, Game situation and Player you will need to:</p>
<ul>
<li><p>extend the according cml file (creating views for showing the data to user)</p></li>
<li><p>extend according add-dialog for setting the data</p></li>
<li><p>extend database unit to store the data</p></li>
</ul></li>
<li><p>For adding more frames to the animation you have to:</p>
<ul>
<li><p>extend animation database</p></li>
<li><p>in the AnimationCreatorActivity increase the numeber of variables</p></li>
<li><p>finaly in the AnimationWatchActivity you need to add according number of animator sets</p></li>
</ul></li>
<li><p>For adding more objects to the animation you have to:</p>
<ul>
<li><p>extend animation database</p></li>
<li><p>add viewst to the animation_creator and animation_watch .xml layouts</p></li>
<li><p>extend number of variables in the AnimationCreatorActivity</p></li>
<li><p>extand number of animator objects in the Animation Watch Activity</p></li>
</ul></li>
</ul></li>
</ul>
		</b-jumbotron>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {			
			return {
				result: 42,
				usersResult: '',
				checked: '',
			}
		},
		methods: {	
			check() {		
				if (this.usersResult == this.result) {//checks if the user result (inserted to input) is right
					this.checked = 'right';
				} else {
					this.checked = 'wrong';
				}
			}	
		}
	}
</script>

<style scoped>
	#num {
		margin-bottom: 0px !important;
		font-size: 20px;
		font-family: monospace;
	}
	.multi {
		text-decoration: underline;
	}
	.inputWithBorderSmall {
		max-height: 24px;
		max-width: 12px !important;
		padding: 0 0 0 0;
		display: inline !important;
	}
	.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
		background-image: none !important;
		background: none !important;	
		padding: 0 0 0 0;	
	}
</style>