<template>
	<div>
		<b-jumbotron class="box">
			<h1>Home</h1>
			<div class="innerbody">
				<p>						
					Beach Assistant je mobilní aplikace naprogramovaná pro telefony s
           operačńím systémem Android. Jeím cílem je usnadnit práci trenérům 
           plážového volejbalu. Obsahuje dvě hlavní dovednosti. První je 
           možnost vytváření tréninkových skupin, do nichž lze zapisovat příslušné
           hráče a spravovat jejich docházku. Druhou možností je ukládání vlastních 
           nápadů na cvičení. Mimo jiné lze cvičení znázornit drobnou animací.
				</p>
				<h2>Dokumentace a kód:</h2>
				<ul>
					<li><router-link to='/uzivatel' class='linkintext'>Uživatelská dokumentace</router-link></li>
					<li><router-link to='/vyvojar' class='linkintext'>Vývojářská dokumentace</router-link></li>
					<li><a href='https://github.com/matejsepka/Maturitni_prace' target='_blank' class='linkintext'>Repozitář na GitHubu</a></li>
				</ul>
			</div>
		</b-jumbotron>
	</div>
</template>