<template>
	<div>
		<b-jumbotron class="box">
<h1 id="o-aplikaci">O aplikaci</h1>
<p>Beach Assistant je mobilní aplikace naprogramovaná pro telefony s operačním systémem Android. Jejím cílem je usnadnit práci trenérům plážového volejbalu. Obsahuje dvě hlavní dovednosti. První je možnost vytváření tréninkových skupin, do nichž lze zapisovat příslušné hráče a spravovat jejich docházku. Druhou možností je ukládání vlastních nápadů na cvičení. Mimo jiné lze cvičení znázornit drobnou animací. Více na: <a href="https://matejsepka.gitlab.io/aboutbeachassistant/?fbclid=IwAR35aFw68IVC7vBWYL7tiLfkrk8Rw5KCk11v6A9u8sl0FXStDpw12uiI7u8#/">https://matejsepka.gitlab.io/aboutbeachassistant/...</a></p>
<h1 id="instalace">Instalace</h1>
<p>Instalaci aplikace je možné provést hned dvěma způsoby:</p>
<h2 id="google-play">Google play</h2>
<p>Aplikace je volně ke stažení v internetovém obchodě Google play, odkud ji lze jednoduše nainstalovat do jakéhokoli zařízení, které disponuje operačním systémem Android (minimální verze 6.0) Odkaz na aplikaci v obchodě: <a href="https://play.google.com/store/apps/details?id=com.matej.sepka.aplication">https://play.google.com/store/apps/details?id=com.matej.sepka.aplication</a></p>
<h2 id="android-studio">Android Studio</h2>
<p>Android studio je prostředí, ve kterém byla celá aplikace napsána. Tento program umožňuje kód překompilovat pomocí USB konektoru do mobilního zařízení. Stačí zdrojový kód importovat do Android Studia, připojit konektorem počítač k telefonu a kliknout na tlačítko ’Run app’.</p>
<h1 id="návod-k-použití">Návod k použití</h1>
<p>Aplikace je rozčleněna na mnoho stránek a každá z nich má v pravém horním rohu tlačítko pro nápovědu, zde jsou všechny nápovědy vypsány:</p>
<h2 id="hlavní-stránka">Hlavní stránka</h2>
<p>Hlavní stránka je rozdělena do dvou částí mezi, kterými je možné se volně pohybovat tahnutím vlevo či vpravo.</p>
<h3 id="skupiny">Skupiny</h3>
<p>V této části můžete vidět všechny své skupiny. Kliknutím na skupinu se vám otevře její detailní stránka (přehled všech hráčů, docházka atd..). Skupinu můžete přidat kliknutím na kulaté tlačítko s pluskem v pravém dolním rohu obrazovky.</p>
<h3 id="cvičení">Cvičení</h3>
<p>Zde jsou vypsána všechna cvičení, která jste si vytvořili. Stejně jako u skupin se kliknutím na dané cvičení dostanete na jeho detailní stránku. V případě kliknutí na kulaté políčko s pluskem v pravém dolním rohu obrazovky, můžete nové cvičení přidat.</p>
<h2 id="detailní-náhled-skupiny">Detailní náhled skupiny</h2>
<p>Na této stránce můžete spravovat svoji skupiny. Kliknutí na obrázek hráče s plusem v pravém horním rohu obrazovky přidáte nového člena skupiny. Všechny členy můžete vidět vypsané uprostřed stránky. Na jadnotlivé hráče je též možné kliknout a tím zobrazit jejich detailní náhled. Delším podržením pak můžete hráče ze skupiny odstranit. Kliknutím na kulaté tlačítko v pravém dolním rohu se vám zobrazí kalendář s docházkou. Nakonec kliknutím na obrázek popelničky v pravém horním rohu je možné celou skupinu odstranit.</p>
<h2 id="detailní-náhled-cvičení">Detailní náhled cvičení</h2>
<h3 id="obtížnost-zaměření-a-popis-cvičení">Obtížnost, zaměření a popis cvičení</h3>
<p>Pod těmito nadpisy můžete vidět veškeré informace, které jste svému cvičení při vytváření přidělili.</p>
<h3 id="animace">Animace</h3>
<p>Pod touto položkou je tlačítko, které vám v případě, že animaci u cvičení ještě nemáte, dovolí animaci vytvořit. V případě, že animaci už máte, můžete se na ni zde podívat.</p>
<h2 id="detailní-náhled-hráče">Detailní náhled hráče</h2>
<p>Zde si můžete prohlédnout veškeré informace o daném hráči:</p>
<h3 id="jméno-hráče">Jméno hráče</h3>
<p>Jméno hráče které jste zadali při jeho vytváření.</p>
<h3 id="datum-narození">Datum Narození</h3>
<p>Datum narození může a nemusí být přidané. Pokud jej chcete přdat klikněte na tlačítko přidat. Vyskočí na vás dialog s možností vybrání data. Až bude spokojeni klikněte na ok a datum narození bude přidáno.</p>
<h3 id="přítomen-a-nepřítomen">Přítomen a nepřítomen</h3>
<p>V těchto kolonkách máte statistický záznam o počtu hodin, na kterých hráč byl přítomen a na kterých ne, vycházjící z docházky této skupiny.</p>
<h2 id="docházka">Docházka</h2>
<p>Zde jsou vypsána data všech vašich tréninků na jeden rok od vytvoření skupiny. Kliknutím na datum se dostanete do detailního náhledu vybraného dne.</p>
<h2 id="detailní-náhled-docházky">Detailní náhled docházky</h2>
<p>Zde můžete vidět všechny hráče náležící dané skupině. Kliknutím na hráče můžete nastavit, zda byl na tréninku přítomen (zelená barva), nepřítomen (červená barva) a nebo jestli si o jeho přítomnosti pro tento den nepřejete míti záznam (šedá barva).</p>
<h2 id="stránka-pro-vytvoření-animace">Stránka pro vytvoření animace</h2>
<h3 id="pohyb-s-obrázky">Pohyb s obrázky</h3>
<p>V levém dolním rohu máte k dispozici 4 obrázky hráčů a jeden obrázek míče. Podržením a tažením můžete obrázky posouvat po celé obrazovce. A vložit je tak na hriště, které představuje obrázek uprostřed obrazovky. (Není nutné použít všechny obrázky, pokud s obrázkem v prvním kroku nepohnete, obrázek zmizí)</p>
<h3 id="ukládání">Ukládání</h3>
<p>Jakmile budete s polohou obrázků spokojeni, klikněte na šipku v pravém dolním rohu obrazovky, tím se uloží aktuální pozice obrázků jakožto první krok. Takto můžete postupovat dokud nebudete s animací spokojeni, pak klikněte na tlačítko uložit.</p>
<h2 id="stránka-pro-zhlédnutí-animace">Stránka pro zhlédnutí animace</h2>
<p>Kliknutím na trojúhelníček na spodu obrazovky přehrajete vámi vytvořenou animaci.</p>
<h1 id="zdroje">Zdroje</h1>
<h2 id="knihovny">Knihovny</h2>
<ul>
<li><p><a href="https://developer.android.com/guide">https://developer.android.com/guide</a></p></li>
</ul>
<h2 id="ikony">Ikony</h2>
<ul>
<li><p><a href="https://www.flaticon.com/">https://www.flaticon.com/</a></p></li>
</ul>
<h2 id="jiné">Jiné</h2>
<ul>
<li><p><a href="https://stackoverflow.com">https://stackoverflow.com</a></p></li>
<li><p><a href="https://www.youtube.com/channel/UCTfCl-a8_6aKT_Mdd4HkaUw">https://www.youtube.com/channel/UCTfCl-a8_6aKT_Mdd4HkaUw</a></p></li>
<li><p><a href="https://www.youtube.com/user/hiteshitube">https://www.youtube.com/user/hiteshitube</a></p></li>
<li><p><a href="https://github.com/JakubRada/Flashcards/">https://github.com/JakubRada/Flashcards/</a></p></li>
</ul>
		</b-jumbotron>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {			
			return {
				result: 42,
				usersResult: '',
				checked: '',
			}
		},
		methods: {	
			check() {		
				if (this.usersResult == this.result) {//checks if the user result (inserted to input) is right
					this.checked = 'right';
				} else {
					this.checked = 'wrong';
				}
			}	
		}
	}
</script>

<style scoped>
	#num {
		margin-bottom: 0px !important;
		font-size: 20px;
		font-family: monospace;
	}
	.multi {
		text-decoration: underline;
	}
	.inputWithBorderSmall {
		max-height: 24px;
		max-width: 12px !important;
		padding: 0 0 0 0;
		display: inline !important;
	}
	.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
		background-image: none !important;
		background: none !important;	
		padding: 0 0 0 0;	
	}
</style>